---
import Sidebar from "../components/Home/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import Features from "../components/Home/Features.astro";
import Form from "../components/Home/Form.astro";
import Advantages from "../components/Home/Advantages.astro";
import Banner from "../components/Home/Banner.astro";
import Services from "../components/Home/Services.astro";
import Tech from "../components/Home/Tech.astro";
import CallToAction from "../components/Home/CallToAction.astro";
import Footer from "../components/Home/Footer.astro";
import BackLines from "../components/BackLines.astro";
---

<Layout title="Spooky-it">
  <!-- <BackLines /> -->
  <Sidebar />
  <Hero />
  <!-- <Form /> -->
  <main class="transition-all">
    <!-- <Hero /> -->
    <!-- <Form /> -->
    <Features />
    <!-- <Advantages /> -->
    <!-- <Banner /> -->
    <!-- <Services /> -->
    <!-- <Tech /> -->
    <!-- <CallToAction /> -->
    <!-- <Footer /> -->
  </main>
</Layout>
