---
import ArrowDown from "../Utils/Icons/ArrowDown.astro";
---

<section class="my-8 h-96 bg-green-200">
  <ArrowDown />
</section>

<style>
  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
    line-height: 1;
    letter-spacing: 0;
  }

  span {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
    line-height: 1;
    letter-spacing: 0;
  }
</style>
