---
import IconContainer from "../Utils/IconContainer.astro";
---

<section
  class="w-full max-h-[744px] py-8 grid grid-cols-1 items-center justify-center max-md:text-center md:grid-cols-2"
>
  <div
    class="flex flex-col justify-evenly max-h-[744px] min-h-[600px] gap-y-5 bg-red-100"
  >
    <p>
      Lo siento Morti <span class="text-secondary text-4xl block"
        >Click Aquí HOLAAA</span
      >
    </p>
  </div>
  <div class="max-h-[744px] relative max-md:hidden">
    <img
      src="castsexxx.jpeg"
      alt="hero-image"
      class="object-cover h-full w-[calc(50%)] m-auto"
    />
  </div>
</section>
