---
import IconContainer from "../Utils/IconContainer.astro";
---

<section
  class="h-[100vh] bg-cover bg-center"
  style="background-image: url('../../../public/main-bg.jfif')"
>
  <div class="flex flex-col items-center justify-center h-full">
    <h2 class="text-primary text-2xl font-light">It's Halloween Time!</h1>
    <h1 class="text-primary text-6xl font-bold">Spooky-it</h1>
    <p class="text-text text-1xl font-light break-words margin-container w-96">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque impedit voluptatibus adipisci nam perferendis, ipsa enim et, excepturi doloribus labore nobis, unde eum natus sint quae earum ea accusantium harum!
    </p>
  </div>
</section>
