---
import { CldUploadWidget } from "astro-cloudinary";

import Menu from "../Utils/Icons/Menu.astro";
---

<nav
  class="flex justify-between items-center h-16 py-2 relative bg-[#151515] drop-shadow-md lg:px-16 md:px-12 sm:px-8 max-sm:px-4"
>
  <img src="Logo.svg" alt="logo" class="h-8 cursor-pointer max-md:h-7" />
  <ul
    class="w-1/3 flex justify-between font-semibold text-[red] *:transition-all *:cursor-pointer max-lap:hidden"
  >
    <li class="hover:text-secondary">Option1</li>
    <li class="hover:text-secondary">Option2</li>
    <li class="hover:text-secondary">Option3</li>
    <li class="hover:text-secondary">Option4</li>
    <li class="hover:text-secondary">Option5</li>
  </ul>
  <div class="flex items-center justify-self-end">
    <CldUploadWidget uploadPreset="ljh6j9pw">
      <button
        class="py-3 px-6 rounded-lg bg-secondary font-semibold text-white hover:bg-red-600 hover:scale-105 transition max-md:scale-90"
      >
        Upload your photo
      </button>
    </CldUploadWidget>
    <Menu />
  </div>
</nav>
