---

interface Props {
  featureName: string;
  description: string;
//   bgImg: string;
}

const { featureName, description, bgImg } = Astro.props;
---

<div class="relative grid h-[26rem] max-w-sm flex-col items-end justify-center overflow-hidden rounded-lg bg-white">
    <div class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('https://images.unsplash.com/photo-1552960562-daf630e9278b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')] bg-cover bg-center">
        <div class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-t from-black/80 via-black/50"></div>
    </div>
    <div class="relative text-center p-6 px-6 py-14 md:px-12">
        <h2 class="mb-6 text-4xl font-medium text-primary">
            { featureName }
        </h2>
        <h5 class="mb-4 text-xl font-light text-slate-300">
            { description }
        </h5>
    </div>
</div>